<!DOCTYPE html>
<html>
    <head>
        <title>{% trans %}Very simple E-shop{% endtrans %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <a href="admin">Admin panel</a><br /><br />
        <div id="root"></div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>